body {
    background-color:white;
    color: #000305;
   
    font-size:87.5%;
    text-align:left;
    line-height: 1.5;
}

.body {
    margin: 0 auto;
    width: 80%;
    clear:both;
}

.right-col{
position:relative;
top:0px;
float:right;
height:100%;
width:22%;
margin-right:10px;
background-color:;
}

.right-col .container1{
position:relative;
top:60px;
background-color:;
display:inline-block;



}


ul{
float: right;
font-size: 18px;
margin-right: 10px;
font-family:monaco;
list-style-type: none;
padding: 5px;
text-align: center;

}
li{
display: inline;}

a{
text-decoration: none;
color: white;
}

#buttonOne{
height: 30px;
width: 90px;
background:rgb(241,221,114);
border: 30px;
border-radius: 5px;
transition: background 0.5s linear 0s color 0.5s linear 0s;
margin-bottom: 15px;
padding-top: 5px;
}

#buttonOne:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

#buttonTwo{
height: 30px;
width: 90px;
background:rgb(124,104,60);
border-radius: 5px;
transition: background 0.5s linear 0s color 0.5s linear 0s;
margin-bottom: 15px;
padding-top: 5px;
}

#buttonTwo:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

#buttonThree{
height: 30px;
width: 90px;
background:rgb(148,179,40);
border-radius: 5px;
transition: background 0.5s linear 0s color 0.5s linear 0s;
margin-bottom: 15px;
padding-top: 5px;
}

#buttonThree:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

#buttonFour{
height: 30px;
width: 90px;
background:rgb(216,143,107);
border-radius: 5px;
transition: background 0.5s linear 0s color 0.5s linear 0s;
margin-bottom: 15px;
padding-top: 5px;
}

#buttonFour:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}


h2{
margin-left:auto;
margin-top: 5px;
margin-left:auto;
font-family:monaco;
font-size:15px;
color: rgb(160,143,107);
}

.header{
position:relative;
width:70%;
background-color:;
top:0px;
left:45px;
float:left;
margin:0 auto;

}
.header .image{
position:;
width:30%;
margin:0 auto;
background-color:;
}

.quote{
position:relative;
background-color:;
margin:0 auto;
width: 58%;

clear:left;

}

#line{
Width: 80%;
clear:both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}


}
#social{
clear: both;
}

.pic-left{
position:relative;
float: left;
margin:20px;
margin-top: 10%;
height: 20%;
Width: 20%;
}

.pic-right{

position:relative;
float:right;
margin:20px;
margin-top: 10%;
height: 20%;
Width: 20%;
}

h3{


font-size: 300%;
text-align:center;
font-family:Letter Gothic Std;
color: black;
text-align:center;
}

p{
font-size: 16px;
font-family:monaco;
color: black;
text-align:center;
margin-left: 25px;

}

.content{
position:relative;
height:100%;
width: 70%;
background-color:;
overflow: hidden;
margin:0 auto;

}

}
/*.content .level{
position:relative;
background-color:;
width:76%;
}*/

#one{
position:absolute;

width:47%;
height:49%;
background-color: rgb(241,221,114);
float:left;
margin-left: 25px;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 10px;
border-radius: 3px;
}
#one:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

#two{

Width:47%;
height:49%;
display:inline-block;
background-color: rgb(148,170,40);
float: right;
margin-left: 10px;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 25px;
border-radius: 3px;
}
#two:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}
#three{

Width:47%;
height:49%;
display:inline-block;
background-color: rgb(160,143,107);
float: left;
margin-left: 25px;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 10px;
border-radius: 3px;
}
#three:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}
#four{

Width:47%;
height:49%;
clear:right;
background-color: rgb(216,143,107);
float: right;
margin-left: 10px;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 25px;
border-radius: 3px;
}
#four:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

#about: {
Width:100%;
height:100%;
background-color: rgb(241,221,114);
float:left;
margin-left: 25px;
margin-top: 15px;
margin-bottom: 15px;
margin-right: 10px;
border-radius: 3px;
}

.mainFooter {
	position:relative;
	top:50px;
    width:100%;
    height:40px;
    float:left;
    border-radius:5px;
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
    background-color:#237eee;
    margin:2% 0;
}

/*LEVEL 2*/

#share-buttons img {
position:relative;
float:left;
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
background-color:;
margin:0 auto;
left:100px;


} 

.video{
position:relative;
width:100%;
float:left;
height:100%;
margin:0 auto;
background-color:;
left:100px;


}

.myCommentBox{
position:relative;
width:100%;
float:left;
height:500px;
top:50px;
left:115px;
clear:left;

background-color:;
}

.container{

position:relative;
height:100%;
top:50px;
margin-left:auto;
margin-right:auto;
overflow:hidden;
background-color:;

.share{

}


/*ABOUT*/





#about{
position:relative;
top:30px;
height: 550px;
width: 70%;
margin-left:25px;
background-color:/*rgb(216,143,107)*/;
clear:left;
overflow:hidden;
background-color:pink;
}

#infoboxAbout {
position:absolute;
Width:90%;
height:90%;
background-color: blue/*rgb(241,221,114)*/;
float:left;
margin-left: 5%;
margin-top: 2.5%;
margin-bottom: 5%;
margin-right: 5%;
border-radius: 3px;
overflow:hidden;
}

#friends{
font-size:125%;
margin-left:20%;
float:left;
height: 30px;
width: 20%;
background:rgb(124,104,60);
border-radius: 5px;
transition: background 0.5s linear 0s color 0.5s linear 0s;
margin-bottom: 15px;
padding-top: 5px;
text-align:center;

}

#friends:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

#ideas{
font-size: 125%;
margin-right: 20%;
float:right;
height: 30px;
width: 20%;
background:rgb(148,179,40);
border-radius: 5px;
transition: background 0.5s linear 0s color 0.5s linear 0s;
margin-bottom: 15px;
padding-top: 5px;
text-align:center;

}

#ideas:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}
/*HELP*/


/*COMMENT BOX LEVEL 2(unused)*/


@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:600px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

