body{
padding-top: 2%;
width: 80%;
margin: auto;


}

.content{
background-color: grey;
padding: 1em;
margin-bottom: 2%;
position: relative;
height: 20em;
}
p{
font-family: monaco;
margin: auto;
font-size: 2em;
text-align: justify;
font-style:italic;
}

.question{
text-align: left;
font-family: monaco;
font-size: 2em;
max-width: 80%;
background-color: #B1A6BB;
position: relative;
margin: auto;
}

.answers{
width: 35%;
background-color: blue;
padding: 1em;
font-family: monaco;
font-size: 2em;
margin: auto;

}

#qNav{
font-size: 2em;
position: relative;
margin: auto;
background-color: ;
width: 60%;
}
.btn{



}
#buttons{
text-align: center;
margin: auto;
width:10%;
background-color: green;
}